# Node
node_modules/

# Next.js
.next/
out/

# 환경변수
.env
.env.*

# 로그
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS별 파일
.DS_Store
Thumbs.db

# 기타
*.local

# VSCode 설정
.vscode/

# 테스트 커버리지
coverage/

# Mac 시스템 파일
.AppleDouble
.LSOverride
Icon?

# 파생 파일
*.swp
*.swo 